winjgm.com {
  redir https://www.winjgm.com{uri} permanent
}

www.winjgm.com {
  encode zstd gzip

  handle /api/* {
    request_body {
      max_size 4MB
    }
    reverse_proxy api:3000
  }

  handle {
    reverse_proxy web:80
  }
}